{{define "msg_demo.html"}}
{{template "header" .}}
<style>
    .notify {
        display: none;
    }
</style>


<!--声明队列-->
<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <blockquote class="layui-elem-quote">
        绑定队列：只需要绑定一次，多次绑定会报bindKey已存在
    </blockquote>
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label mw200">选择节点</label>
            <div class="layui-input-inline">
                <select name="addr" lay-verify="required">
                    {{range $k, $v := .nodes}}
                    <option value="{{$v.HttpAddr}}">{{$v.HttpAddr}}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">选择或新建topic</label>
            <div class="layui-input-inline">
                <input type="text" name="topic" id="topic4" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="ketang">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">绑定键</label>
            <div class="layui-input-inline">
                <input type="text" name="bindKey" id="bindKey" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="homework">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200"></label>
            <div class="layui-input-inline mw400">
                <button class="layui-btn" lay-submit="" lay-filter="sub-queue">声明队列</button>
            </div>
        </div>
    </form>
</div>
<!--声明队列-->


<!--推送消息-->
<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <blockquote class="layui-elem-quote">
        推送消息：推送消息之前，请确定已绑定队列
    </blockquote>
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label mw200">选择节点</label>
            <div class="layui-input-inline">
                <select name="addr" lay-verify="required">
                    {{range $k, $v := .nodes}}
                    <option value="{{$v.HttpAddr}}">{{$v.HttpAddr}}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">所属topic</label>
            <div class="layui-input-inline">
                <input type="text" name="topic" id="topic" lay-verify="required" autocomplete="off"
                       placeholder="请输入topic" class="layui-input" value="ketang">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">延迟时间</label>
            <div class="layui-input-inline">
                <input type="text" name="delay" id="delay" lay-verify="required" autocomplete="off"
                       placeholder="单位：秒，默认0" class="layui-input" value="0">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">路由键</label>
            <div class="layui-input-inline">
                <input type="text" name="routeKey" id="routeKey" lay-verify="required" autocomplete="off"
                       placeholder="请输入路由键" class="layui-input" value="homework">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">消息内容</label>
            <div class="layui-input-inline mw400">
                <textarea name="content" id="content" rows="2" placeholder="请输入内容"
                          class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200"></label>
            <div class="layui-input-inline mw400">
                <button class="layui-btn" lay-submit="" lay-filter="sub-push">确定推送</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--推送消息-->


<!--消费消息-->
<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <blockquote class="layui-elem-quote">
        消费消息
    </blockquote>
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label mw200">选择节点</label>
            <div class="layui-input-inline">
                <select name="addr" lay-verify="required">
                    {{range $k, $v := .nodes}}
                    <option value="{{$v.HttpAddr}}">{{$v.HttpAddr}}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">所属topic</label>
            <div class="layui-input-inline">
                <input type="text" name="topic" id="topic2" lay-verify="required" autocomplete="off"
                       placeholder="请输入topic" class="layui-input" value="ketang">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">绑定键</label>
            <div class="layui-input-inline">
                <input type="text" name="bindKey" id="bindKey3" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="homework">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200"></label>
            <div class="layui-input-inline mw400">
                <button class="layui-btn" lay-submit="" lay-filter="sub-pop">开始消费</button>
            </div>
        </div>
    </form>

    <div class="layui-row" id="pop-list"></div>
</div>
<!--消费消息-->


<!--确认消息-->
<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <blockquote class="layui-elem-quote">
        确认消息
    </blockquote>
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label mw200">消息所在节点</label>
            <div class="layui-input-inline">
                <select name="addr" lay-verify="required">
                    {{range $k, $v := .nodes}}
                    <option value="{{$v.HttpAddr}}">{{$v.HttpAddr}}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">消息所属topic</label>
            <div class="layui-input-inline">
                <input type="text" name="topic" id="topic3" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="ketang">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">消息ID</label>
            <div class="layui-input-inline">
                <input type="text" name="msgId" id="msgId" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">绑定键</label>
            <div class="layui-input-inline">
                <input type="text" name="bindKey" id="bindKey2" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="homework">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200"></label>
            <div class="layui-input-inline mw400">
                <button class="layui-btn" lay-submit="" lay-filter="sub-ack">确认消费</button>
            </div>
        </div>
    </form>
</div>
<!--确认消息-->

<script>
    layui.use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;
        var error_info = "{{.flash.error}}";
        if (error_info) {
            layer.msg(error_info, {icon: 2, shade: 0.3}, function () {
                window.history.go(-1)
            })
            return;
        }

        form.on('submit(sub-queue)', function (data) {
            var form_data = data.field;
            var server_arr = new Array();
            if (form_data.addr.length == 0) {
                layer.msg("请选择节点");
                return false;
            }
            if (form_data.topic.length == 0) {
                layer.msg("请填写topic");
                return false;
            }
            if (form_data.bindKey.length == 0) {
                layer.msg("请填写绑定键");
                return false;
            }

            $.ajax({
                type: "get",
                url: "/declare",
                data: form_data,
                dataType: "json",
                success: function (out) {
                    if (out.code == 0) {
                        layer.msg(out.msg, {icon: 1})
                    } else {
                        layer.msg(out.msg, {icon: 5})
                    }
                },
                error: function (res) {
                    layer.msg("faied: " + (res.responseJSON.msg || res.statusText), {icon: 5})
                }
            })
            return false;
        });

        form.on('submit(sub-push)', function (data) {
            var form_data = data.field;
            var server_arr = new Array();
            if (form_data.addr.length == 0) {
                layer.msg("请选择节点");
                return false;
            }
            if (form_data.topic.length == 0) {
                layer.msg("请填写topic");
                return false;
            }
            if (form_data.content.length == 0) {
                layer.msg("请填写消息内容");
                return false;
            }
            if (form_data.routeKey.length == 0) {
                layer.msg("请填写路由键");
                return false;
            }

            $.ajax({
                type: "post",
                url: "/push",
                data: form_data,
                dataType: "json",
                success: function (out) {
                    if (out.code == 0) {
                        if (out.data.msgId) {
                            layer.alert("消息ID为:" + out.data.msgId, {icon: 1, title: "推送成功"})
                        } else {
                            layer.msg("推送失败")
                        }
                    } else {
                        layer.msg(out.msg, {icon: 5})
                    }
                },
                error: function (res) {
                    layer.msg("faied: " + (res.responseJSON.msg || res.statusText), {icon: 5})
                }
            })
            return false;
        });

        form.on('submit(sub-pop)', function (data) {
            var form_data = data.field;
            var server_arr = new Array();
            if (form_data.addr.length == 0) {
                layer.msg("请选择节点");
                return false;
            }
            if (form_data.topic.length == 0) {
                layer.msg("请填写topic");
                return false;
            }
            if (form_data.bindKey.length == 0) {
                layer.msg("请填写绑定键");
                return false;
            }

            $.ajax({
                type: "get",
                url: "/pop",
                data: form_data,
                dataType: "json",
                success: function (out) {
                    if (out.code == 0) {
                        var html = '<div class="layui-card">' +
                            '<div class="layui-card-header">消息ID: ' + out.data.id +
                            '&nbsp;&nbsp;所属topic: ' + $("#topic").val() +
                            '&nbsp;&nbsp;<span class="layui-badge layui-bg-gray">第' + out.data.retry_count + '次被消费</span></div>' +
                            '<div class="layui-card-body">消息内容: ' + out.data.body +
                            '</div>' +
                            '</div>';
                        $("#pop-list").prepend(html)
                    } else {
                        layer.msg(out.msg, {icon: 5})
                    }
                },
                error: function (res) {
                    layer.msg("faied: " + (res.responseJSON.msg || res.statusText), {icon: 5})
                }
            })
            return false;
        });

        form.on('submit(sub-ack)', function (data) {
            var form_data = data.field;
            var server_arr = new Array();
            if (form_data.addr.length == 0) {
                layer.msg("请选择节点");
                return false;
            }
            if (form_data.topic.length == 0) {
                layer.msg("请填写topic");
                return false;
            }
            if (form_data.msgId.length == 0) {
                layer.msg("请填写消息ID");
                return false;
            }
            if (form_data.bindKey.length == 0) {
                layer.msg("请填写绑定键");
                return false;
            }

            $.ajax({
                type: "get",
                url: "/ack",
                data: form_data,
                dataType: "json",
                success: function (out) {
                    if (out.code == 0) {
                        layer.msg(out.msg, {icon: 1})
                    } else {
                        layer.msg(out.msg, {icon: 5})
                    }
                },
                error: function (res) {
                    layer.msg("faied: " + (res.responseJSON.msg || res.statusText), {icon: 5})
                }
            })
            return false;
        });

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>
{{template "footer" }}
{{end}}